<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
	</head>
	<body >
		<div th:fragment="show_contents">
			<div class="row" th:object="${product}">
				<div class="col-lg-4">
					<h3>商品画像</h3>
					<img th:src="*{image}" style="width:100%; "/>
				</div>
				<div class="col-lg-4">
					<h3>商品の説明</h3>
					<pre th:text="*{description}"></pre>
				</div>
				<div class="col-lg-4">
					<h3>出品状況</h3>
					<table class="table table-bordered" >
						<tr>
							<th class="col-lg-6">開始時刻</th>
							<td class="col-lg-6" th:text="*{#temporals.format(startTime, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
						<tr>
							<th>終了時刻</th>
							<td th:text="*{#temporals.format(endTime, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
						<tr>
							<th>残り時間</th>
							<td th:text="${timeToFinish}" ></td>
						</tr>
						<tr>
							<th>現在価格</th>
							<td th:text="*{currentPrice}"></td>
						</tr>
						<tr>
							<th>入札件数</th>
							<td th:text="${count}"></td>
						</tr>
					</table>
						<div th:if="${product.statusFlag} == 1">
							<!-- 入札ボタン -->
							<a  class="btn btn-primary center-block " th:href="@{'/bidNew'(id=*{productId})}" style="width:80%;">入札する</a>
							<!-- ウォッチリスト追加・削除ボタン -->
							<a  th:if="${watchListFlag} == false" class="btn btn-primary center-block " th:href="@{'/watchListUpdate'(id=*{productId})}" style="width:80%; margin-top:20px;">ウォッチリストに追加する</a>
							<a  th:if="${watchListFlag} == true" class="btn btn-danger center-block " th:href="@{'/watchListUpdate'(id=*{productId})}" style="width:80%; margin-top:20px;">ウォッチリストから削除する</a>
						</div>
						<div th:if="${product.statusFlag} == 0">
							<h4>この商品の出品は終了しました</h4>
						</div>
				</div>
			</div>
		</div>
	</body>
</html>