<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
	</head>
	<body >
		<div th:fragment="index_contents">
			<div class="col-md-10 col-lg-10 main">
				<!-- 見出しt -->
				<h3>終了間近</h3>
				<div class="row">
					<div th:if="${commingSoonFlag} == true" class="col-lg-4" th:each="product : ${products}" >
						<div  class="thumbnail" >
							 <img th:src="${product.image}" style="width:275px; height:275px;"/>
							<div class="caption">
								<div th:text="' 商 品 名 : ' + ${product.productName} "></div>
								<div th:text="'現在価格 : ' + ${product.currentPrice} + ' 円'"></div>
								<div th:text="'終了日時 : ' + ${#temporals.format(product.endTime, 'yyyy-MM-dd HH:mm')}"></div>
								
								<p style="margin-bottom: 0px">
									<a th:href="@{'/productShow'(id=${product.productId})}" class="btn btn-primary">詳細を確認する</a>
								</p>
							</div>
						</div>
					</div>
					<!-- 終了間近の商品がない場合の処理 -->
					<div th:if="${commingSoonFlag} == false" >
						<h4>まだ商品が登録されていません</h4>
					</div>
				</div>
				<!-- 見出し -->
				<h3>入札数ランキング</h3>
				<div class="row">
					<div th:if="${bidRankingListFlag} == true" class="col-lg-4" th:each="product : ${bidRankingList}" >
						<div  class="thumbnail" >
							 <img th:src="${product.product.image}" style="width:275px; height:275px;"/>
							<div class="caption">
								<div th:text="'商 品 名 : ' + ${product.product.productName}"></div>
								<div th:text="'現在価格 : ' + ${product.product.currentPrice} + ' 円'"></div>
								<div th:text="'入札数 : '+ ${product.bidCount}"></div>
								<p style="margin-bottom: 0px">
									<a th:href="@{'/productShow'(id=${product.product.productId})}" class="btn btn-primary">詳細を確認する</a>
								</p>
							</div>
						</div>
					</div>
					<!-- 入札されている商品がない場合の処理 -->
					<div th:if="${bidRankingListFlag} == false">
						<h4>まだ入札された商品がありません</h4>
					</div> 
				</div>
			</div>
		</div>
	</body>
</html>