<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
	</head>
	<body >
		<div th:fragment="watchList_contents">
			<div class="col-md-10 col-lg-10 main">
				<!-- 見出しt -->
				<h3>
					ウォッチリスト一覧&nbsp;&nbsp;
					(全 [[${count}]]商品)
					<!-- ページネーション -->
					<span  th:each="page : ${pages}" >
						<a	 th:text="${page} + '&nbsp;'" th:href="@{'/watchListShow'(page = ${page})}" style="float:right;"></a>
					</span>
				</h3>
				<div class="row">
					<div th:if="${watchListFlag} == true" class="col-lg-4" th:each="watchList : ${watchLists}" >
						<div  class="thumbnail" >
							 <img th:src="${watchList.image}" style="width:275px; height:275px;"/>
							<div class="caption">
								<div >
								</div>
								<div th:text="'商 品 名  : ' + ${watchList.productName}"></div>
								<div th:text="'現在価格 : ' + ${watchList.currentPrice} + ' 円'"></div>
								<div th:text="'終了日時 : ' + ${#temporals.format(watchList.endTime, 'yyyy-MM-dd HH:mm')}"></div>
								<p style="margin-bottom: 0px">
									<a th:href="@{'/productShow'(id=${watchList.productId})}" class="btn btn-primary">詳細を確認する</a>
								</p>
							</div>
						</div>
					</div>
					<!-- 終了間近の商品がない場合の処理 -->
					<div th:if="${watchListFlag} == false" >
						<!-- 何故か表示されない -->
						<h4>まだウォッチリストが登録されていません</h4>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>